config/config.yml
bin
.idea
.DS_Store

.npmrc
bin/gitee
!cmd/gitee
!pkg/gitee
npm/gitee/README.md
npm/gitee/LICENSE
!npm/gitee
gitee-darwin-amd64
!npm/gitee-darwin-amd64/
gitee-darwin-arm64
!npm/gitee-darwin-arm64
gitee-linux-amd64
!npm/gitee-linux-amd64
gitee-linux-arm64
!npm/gitee-linux-arm64
gitee-windows-amd64.exe
gitee-windows-arm64.exe
tmp.json